node_modules
.next
.git
.gitignore
.gitattributes
.env
.env.local
.env.*.local
Dockerfile
docker-compose.yml
__old
__old_django
__pycache__
output
coverage
*.log
*.md
.vscode
.idea
.DS_Store
Thumbs.db
