/* Asegurarse de que las transiciones están bien definidas en el CSS */
html {
    scroll-behavior: smooth;
}
/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
    margin: 0;
    padding: 0;
    overflow-y: hidden; 
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1); 
    background: linear-gradient(70deg, #d6d6d6 ,rgb(148, 181, 235,0.5),rgb(117, 170, 255,0.9));
    color: #333333;
}

body::before {
    background: linear-gradient(70deg, #A1A1A1,#D1D5DB,rgba(59,130,246,0.5));
}

/* Estilos de navegación */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(181, 181, 181, 0.2);
    backdrop-filter: blur(5px);
}

nav ul li {
    transition: transform 0.5s ease;
}

nav ul li:hover {
    transform: translateY(-2px);
}

/* Estilos de contenedores */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos principales */
main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding: 20px;
    box-sizing: border-box;
}

section.active {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos para modo oscuro */
.dark {
    background: linear-gradient(70deg, #4B5563,#1F2937,#111827);
    color: #EAEAEA;
}
.dark::before {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(1, 54, 111, 0.1); /* Color del difuminado */
      filter: blur(15px); /* Ajusta el nivel de difuminado */
      z-index: 1; /* Asegúrate de que esté por encima del fondo */
}

.dark nav {
    background-color: rgba(37, 37, 37, 0.2);
}

.dark input,
.dark textarea,
.dark select {
    background-color: #4A5568;
    border-color: #718096;
    color: #EAEAEA;
}

.dark button {
    background-color: #858585;
}

.dark button:hover {
    background-color: #3182CE;
}

/* Estilos para elementos redondos */
.elemento-redondo {
    background-color: azul;
    border-radius: 50%;
}

/* Estilos para la barra de desplazamiento en navegadores WebKit */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}

/* Estilos de carrusel */
.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
    color: rgba(59, 130, 246, 0.5) !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: rgba(59, 130, 246, 1) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent !important;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    color: inherit;
    font-size: 1.5rem;
}

/* Posicionamiento de flechas */
.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

/* Estilos de tarjetas */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(59, 130, 246, 0.5);
}

/* Estilos para modo oscuro en tarjetas */
.dark .card {
    background: rgba(255, 255, 255, 0.67);
}



.carousel-control-prev,
.carousel-control-next {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Asegura que ocupen todo el alto del carrusel */
    background-color: transparent !important;
}


